
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  width: 400px;
}

h1 {
  color: #1877f2;
  font-size: 60px;
  margin-bottom: 10px;
}

.tagline {
  font-size: 18px;
  color: #1c1e21;
  margin-bottom: 20px;
}

form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid #dddfe2;
  border-radius: 6px;
  font-size: 16px;
}

button {
  background-color: rgb(117, 0, 117);
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 10px;
}

.create-btn {
  margin-top: 15px;
  padding: 12px;
  width: 60%;
  background-color: rgb(117, 0, 117);
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* Popup styling */
.popup {
  display: none;
  position: fixed;
  top: 69%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  z-index: 1000;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}
